html * {
    font-family: sans-serif;
}

.nav {
    color: #366ffd;
    background-color: #f6f9ff9f;
    font-size: 28px;
    height: 65px;
}

.logo {
    padding: 10px;
}

.container {
    margin: auto;
    max-width: 70%;
}
