html * {
    font-family: sans-serif;
}

.nav {
    color: #366ffd;
    background-color: #f6f9ff9f;
    font-size: 28px;
    height: 65px;
}

.logo {
    padding: 10px;
}

.container {
    margin: auto;
    max-width: 70%;
}

.slider, .slider-2 {
    width: 550px;
    transform: rotate(-90deg) translate(-350px);
    -webkit-appearance: none;
    border-radius: 60px;
    position: absolute;
    left: 40;
    height: 35px;
    background-image: linear-gradient(to right, rgb(255, 0, 0) 0%, rgb(255, 255, 0) 16.6667%, rgb(0, 255, 0) 33.3333%, rgb(0, 255, 255) 50%, rgb(0, 0, 255) 66.6667%, rgb(255, 0, 255) 83.3333%, rgb(255, 0, 0) 100%);
}

.slider-2 {
    background-image: none;
    z-index: 0;
}

.slider::-webkit-slider-thumb {
    color: rgb(161, 150, 152);
    transform: translate(0, -54px);
    /* -webkit-appearance: none; */
    width: 30px;
    height: 15px;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    background-color: white;
}

.slider-2::-webkit-slider-thumb {
    color: rgb(161, 150, 152);
    transform: rotate(-270deg) translate(54px);
    /* -webkit-appearance: none; */
    width: 30px;
    height: 15px;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    background-color: white;
}

.slider:focus, .slider-2:focus {
    box-shadow: none;
    outline: none;
}
